<% obj.each do |art| %>
  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
      <div class='well well-lg'>
        <div class='article-title'>
        <%= link_to art.title, article_path(art) %>
        </div>
        <div class='article-body'>
        <%= truncate(art.description, length: 80) %>
        <div class="article-meta-details">
        <small>Created by: <%= art.user.username if art.user%>, 
                            <%= time_ago_in_words(art.created_at) %> ago,
                Updated:     <%= time_ago_in_words(art.updated_at) %> ago</small>
        </div>        
        </div>
        <div class='article-actions'>
        <%= link_to 'Edit this article', edit_article_path(art), class: 'btn btn-xs btn-primary' %>
        <%= link_to 'Delete this article', article_path(art), method: :delete, data: {confirm: 'Are You sure?' }, class:'btn btn-xs btn-danger' %> 
        </div>
      </div>
    </div>
  </div>
<% end %>
