<h1 align="center">All Alpha Bloggers</h1>

<div align="center">
    <% @users.each do |user| %>
    <ul class="listing">
        <div class="row">
            <div class="well col-md-4 col-md-offset-4">
                <li><%= link_to gravatar_for(user), user_path(user) %></li>
                <li class="article-title">
                    <%= link_to user.username, user_path(user) %>
                </li>
                <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
            </div>
        </div>
    </ul>
    <% end %>
</div>