$navbar-default-bg: #09a001;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
    float: left;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
   background: rgba(255,255,255,0.05);
	-o-transform: scale(0.93);
	-webkit-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('grass.png');
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
    color: #1a6600;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.8em;
    background-color: black;
}

.description {
    margin-top: 0;
    font-weight: bold;
}

.article-meta-details {
    border-top: 1px solid green;
    margin-top: 15px;
}

.article-actions {
    border-top: 1px solid black;
    padding-top: 5px;
}

.article-title {
    font-weight: bold;
    font-size: 1.8em;
}

.article-body {
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.listing {

    list-style: none;
    padding-left: 0;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 2px solid black;
    color: green;
}

footer a:hover {
    color: green;
}

footer small {
    float: left;
    margin: 10px 10px 100px 10px;
}

footer nav {
    float: right;
    margin: 10px 10px 100px 10px;
}

