<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://alpha-blog-damian.herokuapp.com/">Alpha Blog App</a>
            by <a href="https://pl.linkedin.com/in/damian-godlewski">Damian Godlewski</a>
        </small>
        <nav>
            <%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %>
        </nav>
    </footer>
</div>